<!DOCTYPE html>
<html>
  <head>
    <title><%=@app_title%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta property="og:locale" content="" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:image" content="">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
 
	  	
	  		
	<% if content_for?(:head) %>
	  <%= yield(:head) %>
	<% end %>  	
	<link rel="canonical" href="" />
	<link rel="shortcut icon" href="/images/ysmeta/favicon_logfin.png" />
	<!--begin::Fonts-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
	<!--script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=1z5nkv1dgw"></script-->
	<!--end::Fonts-->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-217278797-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-217278797-1');
	</script>	
  </head>
  <body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed aside-enabled aside-fixed" style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">	
	<div class="d-flex flex-column flex-root">
		<div class="page d-flex flex-row flex-column-fluid">
  			
			<div class="d-flex flex-column flex-row-fluid" id="kt_wrapper">
				<%= render "layouts/header"%>
				<% if notice %>
					<p class="alert alert-success"><%= notice %></p>
				<% end %>
				<% if alert %>
					<p class="alert alert-danger"><%= alert %></p>
				<% end %>

				TODO:: 없애도 됩니다
				<p class="navbar-text float-right" style="margin-left:20px; margin-top : 65px">
					<% if user_signed_in? %>
						Logged in as <strong><%= current_user.email %></strong>.
						<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
						<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
					<% else %>
						<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
						<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
					<% end %>
				</p>

				<%= yield %>
				<%= render "layouts/footer"%>
			</div>
		</div>
	</div>
	<script>var hostUrl = "assets/";</script>
		<!--begin::Javascript-->
		<!--begin::Global Javascript Bundle(used by all pages)-->
		<script src="/assets/plugins.bundle.js"></script>
		<!--end::Global Javascript Bundle-->
		<!--begin::Page Vendors Javascript(used by this page)-->
		<!--end::Page Vendors Javascript-->
		<!--begin::Page Custom Javascript(used by this page)-->
  </body>
</html>




